<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <canvas id="canvas"></canvas>
    <div id="ghostCellBackground"></div>
    <div id="ghostCell"></div>
    <script src="static/js/socket.io.js"></script>
    <script src="static/js/index.js"></script>
    <style>

        body {
            overflow: hidden;
        }

        #canvas {
            position: absolute;
            top: 0px;
            left: 50%;
            transform: translateX(-50%);
            border: #000 10px;
        }

        #ghostCell {
            position: absolute;
        }

        #ghostCellBackground {
            position: absolute;
            background-color: #FFF;
            visibility: hidden;
        }
    </style>
</body>
</html>